@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
	margin: 0;
	background-color: transparent;
	font-family: "Ubuntu", sans-serif !important;
	/* font-family: "Ubuntu", "Ubuntu Sans", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif !important; */
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.main-background {
	background-color: #f9f9f9;
}

.nlayout-sidebar {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.nlayout-menu-bar-icons {
	width: 100%;
	text-align: center;
	padding: 1px 3px;
	font-size: 16px;
	color: gray;
}

.nlayout-menu-bar-icons-v1 {
	width: 100%;
	text-align: center;
	padding: 1px 3px;
	font-size: 22px;
	color: gray;
}

.nlayout-menu-icon-wrapper-v1-selected {
	border-radius: 8px;
	background-color: #e9e9e9;
	color: #f9992e;
	justify-content: center;
	display: flex;
	align-items: center;
	height: 45px;
}

.nlayout-menu-icon-wrapper-v1 {
	border-radius: 8px;
	cursor: pointer;
	justify-content: center;
	display: flex;
	align-items: center;
	height: 45px;
}

.nlayout-menu-icon-wrapper-selected {
	border-radius: 8px;
	background-color: #e9e9e9;
	color: #f9992e;
	justify-content: start;
	display: flex;
	align-items: center;
	height: 35px;
}

.nlayout-menu-icon-wrapper {
	border-radius: 8px;
	cursor: pointer;
	justify-content: start;
	display: flex;
	align-items: center;
	height: 35px;
}

.nlayout-menu-icon-wrapper:hover {
	background-color: #e9e9e9;
	color: #343434;
	transition-timing-function: ease;
}

.nlayout-sidebar-items-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.nlayout-sidebar-wrapper div:last-child {
	margin-top: auto;
}

.nlayout-main-sider {
	width: 130px !important;
	z-index: 3;
	overflow-x: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	transition-timing-function: ease-in;
	transition: width 0.05s;
}

.nlayout-main-sider :focus {
	outline: none;
}

/* .nlayout-main-sider:hover {
	width: 136px !important;
	z-index: 3;
	overflow-x: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	transition-timing-function: ease-in;
	transition: width 0.15s;
} */

.nlayout-main-sider .hide-text-overflow {
	padding-left: 5px;
	padding-bottom: 1px;
	color: slategray;
	transition-timing-function: ease-in-out;
	transition: color 0.1s;
}
/* .nlayout-main-sider:hover .hide-text-overflow {
	padding-left: 5px;
	padding-bottom: 1px;
	color: slategray;
	transition-timing-function: ease-in-out;
	transition: color 0.2s;
} */

.nlayout-header {
	position: fixed;
	top: 0;
	width: calc(100% - 130px);
	background-color: #f9f9f9;
	padding: 0 15px;
	margin-left: 130px;
	height: 45px;
	z-index: 2;
	border-bottom: 0.5px solid silver;
}

.nlayout-header-v2 {
	position: fixed;
	top: 0;
	width: calc(100% - 55px);
	background-color: #f9f9f9;
	padding: 0px 15px;
	height: 45px;
	z-index: 2;
	border-bottom: 0.5px solid silver;
}

/* .nlayout-menu-bar-icons:hover {
	width: 100%;
	text-align: center;
	margin: 7px 5px;
	cursor: pointer;
	color: black;
	background-color: gray;
} */

.dashboard-cards {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	border-radius: 8px !important;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #bababa;
	border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #bababa;
	border-radius: 100px;
}

.logo {
	height: 165px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	height: 115px;
}

.login-form-forgot {
	float: right;
	margin-top: -8px;
}
.ant-col-rtl .login-form-forgot {
	float: left;
}
.login-form-button {
	width: 100%;
}

.loginform {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f9f9f9;
	min-width: 250px;
	padding: 15px;
	padding-top: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 8px !important;
}

.login-footer {
	text-align: center;
	font-size: 12px;
}

.table-search {
	width: 80%;
}

.table-button {
	display: flex;
	justify-content: end;
}

.client-create-form_last-form-item {
	margin-bottom: 0;
}

.main-label {
	font-size: 25px;
	margin-bottom: 40px !important;
}

.delete-table-action {
	cursor: pointer;
	text-align: center;
	color: red;
	display: inline-block;
	/* padding-left: 5px; */
}

.default-table-action {
	cursor: pointer;
	text-align: center;
	color: blue;
	display: inline-block;
	/* padding-left: 5px; */
}

.table-result-label {
	margin-left: 7px;
	margin-top: -28px;
	color: slategray;
	font-style: italic;
}

.selected-building.ant-input[disabled],
.selected-building .ant-select-selector {
	background-color: white !important;
	color: black !important;
}

.selected-building .ant-radio-disabled + span {
	background-color: transparent !important;
	color: black !important;
}

.selected-building .ant-radio-inner::after {
	background-color: #1890ff !important;
}

.selected-building .ant-checkbox-disabled + span {
	color: black !important;
}

.ant-radio-checked .ant-radio-inner {
	border-color: #1890ff;
	color: black !important;
}

.selected-new-building .ant-select-arrow {
	color: #1890ff !important;
}

.buidling-page-label {
	font-weight: bold;
}

.workorders-list {
	background-color: white;
	padding-top: 9px !important;
	padding-left: 12px !important;
	cursor: pointer;
}

.workorders-list:hover .wo-card-title {
	color: #55a0e7;
}

.wo-card-title {
	color: black;
	font-weight: bold;
}

.wo-card-title.selected {
	color: #1890ff;
}

/* .wo-card-title:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: relative;
	background: blue;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.workorders-list:hover .wo-card-title:after {
	width: 100%;
	left: 0;
} */

.wo-view {
	background-color: white;
	height: 445px;
	width: 100%;
	padding: 10px 20px;
}

.wo-view-header {
	color: slategrey;
	font-size: 26px;
}

.wo-view-sub-header {
	color: slategrey;
	font-size: 17px;
}

.wo-view-action-buttons {
	position: relative;
	top: 10px;
	float: right;
}

.wo-view-action-buttons .action-buttons {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 10px;
}

.list-holder {
	height: 100%;
	width: 100%;
	background-color: white;
}

.wo-loader {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 50px;
	text-align: center;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	height: 100%;
	width: 100%;
}

.wo_card_desc {
	font-size: 10px;
}

.wo-label {
	font-size: 10px;
	max-width: 280px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
}

.success-button .ant-btn-primary {
	background-color: green;
	border-color: green;
}

.success-button .ant-btn-primary:hover {
	background-color: rgb(66, 149, 66);
	border-color: rgb(66, 149, 66);
	opacity: 0.5px;
}

.wo-empty {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.assets-card .ant-card-body {
	padding: 5px;
}

.edit-building-button {
	position: absolute;
	right: 2px;
	bottom: 0px;
}

.menu-cards {
	width: 300px;
	height: 100%;
}

.span-footer {
	bottom: 10px;
	position: absolute;
}

.tree-with-details {
	display: flex;
	padding: 1em;
}

.tree-menu {
	flex: 0 0 250px;
	margin-right: 10px;
}

.tree-main {
	margin-left: 10px;
	flex: auto;
	height: 450px;
}

.site-tree-search-value {
	color: #f50;
}

.loader-container {
	/* margin: 20px 0; */
	width: 100%;
	height: 450px;
	/* margin-bottom: 20px; */
	padding: 200px 50px;
	text-align: center;
	/* background: rgba(0, 0, 0, 0.05); */
	border-radius: 4px;
}

.transparent-load {
	z-index: 1;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
}

.field-list-number {
	text-align: end;
	margin: 5px 8px 0 0;
}

.form-item-icons {
	font-size: 16px;
	margin-top: 5px;
}

.add-modal {
	width: "100%" !important;
	max-width: "900px" !important;
}

.bubble {
	position: relative;
	max-width: 310px;
	padding: 7px 10px;
	background: #dbdbdb;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.bubble:after {
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 5px 6px 5px 0;
	border-color: transparent #dbdbdb;
	display: block;
	width: 0;
	z-index: 1;
	left: -6px;
	top: 5px;
}

.bubble-self {
	position: relative;
	max-width: 310px;
	padding: 7px 10px;
	background: #81a6d3;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: white;
}

.bubble-self:after {
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 5px 0 5px 6px;
	border-color: transparent #81a6d3;
	display: block;
	width: 0;
	z-index: 1;
	right: -6px;
	top: 5px;
}

.nfpa-overriding {
	position: relative;
	top: -15px;
}

.user-full-name {
	font-size: 13px;
	float: right;
	height: 100%;
	margin-top: -5px;
	cursor: pointer;
}

.team-menu {
	height: 445px;
	width: 210px;
	background-color: white;
	border-radius: 4px;
}

.team-menu-loading {
	height: 445px;
	width: 210px;
	background-color: white;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.team-view {
	height: 445px;
	margin-left: 10px;
	width: calc(100% - 220px);
	background-color: white;
	padding: 10px;
	border-radius: 4px;
}

.team-card {
	height: 350px;
}

.team-view-buttons {
	position: relative;
	float: right;
	margin-top: 10px;
	margin-right: 5px;
}

.team-view-empty {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 445px;
	margin-left: 10px;
	width: calc(100% - 220px);
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.8);
}

.content-empty {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}

.content-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
}

.content-fixed {
	height: 100%;
	width: 230px;
	border-right: 0.5px solid silver;
	padding: 15px 15px 15px 0;
}

.content-fixed-item {
	padding: 5px 0px;
	width: 100%;
}

.content-flex {
	flex-grow: 1;
	padding: 10px;
}

.system-list-item {
	padding: 5px 3px;
	color: #3c3c3c;
	cursor: pointer;
	border-radius: 6px;
}

.system-list-item-selected {
	padding: 5px 3px;
	color: black;
	cursor: pointer;
	background-color: #eeeeee;
	border-radius: 6px;
}

.system-list-item:hover {
	padding: 5px 3px;
	color: #141414;
	background-color: #eeeeee;
	cursor: pointer;
	border-radius: 6px;
}

.content-flex-empty {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
	padding: 10px;
	width: 100%;
	border-radius: 4px;
}

.pdf-view {
	height: calc(100% - 44px);
	width: 100%;
	display: flex;
	border: 1px solid black;
}

.thumbnail-wrapper {
	position: relative;
	height: 100%;
	width: 120px;
	color: white;
	font-size: 12px;
	background-color: #505050;
}

.thumbnail-contents {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
	padding: 0px 10px;
}

.thumbnail {
	text-align: center;
	margin: 20px 2px;
	border-radius: 8px;
	padding: 2px;
	border: transparent 2px solid;
	cursor: pointer;
}

.thumbnail:hover {
	text-align: center;
	margin: 20px 2px;
	border-radius: 8px;
	padding: 2px;
	border: gray 2px solid;
	cursor: pointer;
}

.thumbnail-selected {
	text-align: center;
	margin: 20px 2px;
	border: orange 2px solid;
	border-radius: 8px;
	padding: 2px;
	color: orange;
	cursor: pointer;
}

.pdf-main-view-wrapper {
	background-color: #2c2c2c;
	flex-grow: 1;
	position: relative;
	align-content: center;
}

.pdf-main-view {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
}

.div-blocks {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(100, 100, 100, 0.9);
	border: orange dotted 3px;
	color: orange;
	border-radius: 6px;
}

.div-blocks-input {
	position: absolute;
	display: flex;
	justify-content: start;
	align-items: center;
}

.div-blocks-input input {
	border: transparent;
	min-width: 100%;
}

.div-blocks-input span[contenteditable="true"] {
	cursor: text;
}

.div-blocks-input span[contenteditable="true"]:empty:before {
	content: attr(placeholder);
	color: gray;
}
/* found this online --- it prevents the user from being able to make a (visible) newline */
.div-blocks-input span[contenteditable="true"] br {
	display: none;
}

.more-options-input {
	position: absolute;
	cursor: pointer;
	left: -15px;
	color: orange;
}

div-blocks-dragging {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(100, 100, 100, 0.5);
	border: orange dotted 3px;
	color: orange;
	border-radius: 6px;
}

.div-blocks-preview {
	display: flex;
	justify-content: center;
	align-items: center;
	border: orange dotted 3px;
	color: orange;
	border-radius: 6px;
}

.div-blocks-assigned {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(100, 100, 100, 0.9);
	border: greenyellow dotted 3px;
	border-radius: 6px;
}

.more-options {
	position: absolute;
	cursor: pointer;
	color: #feeccc;
}

.div-block-input {
	width: 60%;
	height: 95%;
	background-color: transparent;
	border: unset;
	color: white;
}

.pdf-header {
	height: 28px;
	background-color: #505050;
	color: white !important;
	padding: 3px 3px 0 15px;
}

.side-panel-wrapper {
	position: relative;
	height: 100%;
	width: 200px;
	color: white;
	font-size: 12px;
	background-color: #505050;
}

.side-panel-contents {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
	padding: 0px 10px;
}

.side-field-list-item {
	padding: 4px;
	color: white;
}

.side-field-list-item:hover {
	cursor: pointer;
	color: orange;
}

.filter-wrapper {
	display: flex;
	height: 100%;
}

.filter-main {
	width: 180px;
	max-width: 180px;
	top: 46px;
	height: calc(100vh - 68px);
	overflow-y: scroll;
	position: fixed;
	border-right: 0.5px solid silver;
	padding-right: 17px;
	padding-left: 3px;
	z-index: 1;
	background-color: #f9f9f9;
}

.filter-body {
	flex-grow: 1;
	height: 100%;
	margin-left: 195px;
}
